target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
*.xml
*.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_security_2_3_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_security_spring_security_config_5_3_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_security_spring_security_core_5_3_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_security_spring_security_test_5_3_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_security_spring_security_web_5_3_4_RELEASE.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/dataSources/7bc43851-3ae0-4764-b995-b7fd5f1f1259/storage_v2/_src_/database/sweater.IW46lA/schema/public.abK9xQ.meta
.idea/dataSources/7bc43851-3ae0-4764-b995-b7fd5f1f1259/storage_v2/_src_/database/sweater.IW46lA/schema/information_schema.FNRwLQ.meta
.idea/dataSources/7bc43851-3ae0-4764-b995-b7fd5f1f1259/storage_v2/_src_/database/sweater.IW46lA.meta
.idea/dataSources/7bc43851-3ae0-4764-b995-b7fd5f1f1259/storage_v2/_src_/database/sweater.IW46lA/schema/pg_catalog.0S1ZNQ.meta
src/main/resources/templates/main.mustache
sweater.iml
